//@import "variables";
//@import "bootstrap";

$primary: #333;
$secondary: #d8fd00;
$gray: #666;
$white: #fff;
$black: #000;

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: $primary;
  display: flex;
  justify-content: center;
  align-items: center;
}
.svg {
  fill: $white;
}
svg {
  fill: $white;
  stroke: $white;
  &:hover {
    fill: #0d6efd ;
  }
}
.container {
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-between;
  & .card {
    position: relative;
    cursor: pointer;
    &:hover .face.face1{
      background: $secondary;
      transform: translateY(0);
    }
    &:hover .face.face1 .content h3{
      color: black;
    }
    &:hover .face.face2 {
      transform: translateY(0);
    }
    & .face {
      width: 300px;
      height: 200px;
      transition: .5s;
      &.face1 {
        position: relative;
        background: $gray;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transform: translateY(100px);
        & .content {
          opacity: .7;
          transition: .5s;
          img {
            max-width: 100px;
          }
          h3 {
            margin: 10px 0 0;
            padding: 0;
            color: $black;
            text-align: center;
            font-size: 1.5rem;
          }
        }
      }
      &.face2 {
        position: relative;
        background: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: 0 20px 50px rgba($black, 0.8);
        transform: translateY(-100px);
        & .content {
          p {
            margin: 0;
            padding: 0;
          }
          a {
            margin: 15px 0 0;
            display: inline-block;
            text-decoration: none;
            font-weight: 900;
            color: $primary;
            padding: 5px;
            border: 1px solid $primary;
            &:hover {
              background: $primary;
              color: $white;
            }
          }
        }
      }
    }
    &:hover .face .face1 .content {
      opacity: 1;
    }
  }

}

/*

.pseudo {
  &::after {
    content: "";
    width: 129%;
    height: calc(100% + 7.25rem);
    background-color: $gray-100;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%);
  }
}
.divider {
  width: 220px;
  height: 2px;
  background-color: $primary;
}

@include media-breakpoint-down(lg) {
  .pseudo {
    padding: 2rem;
    &:after {
      display: none;
    }
  }
  .contact-form {
    &__column {
      padding: 0;
    }
  }

}
*/
